body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    color: var(--dark);
}

:root {
    --dark: #323643;
    --lighter-dark: #606470;
    --blue: #93deff;
    --bright: #f7f7f7;
    --highlight: #FFD55E;
}

.hamburger {
    display: none;
    color: var(--bright);
    background-color: transparent;
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.hamburger-active {
    transform: rotate(0.25turn);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark);
    color: var(--bright);
    padding: 0.5rem;
    box-shadow: 0px 4px 5px -2px var(--dark);
    margin-bottom: 1rem;
}

.logo {
    margin-left: 0.5rem;
    font-size: 2rem;
    letter-spacing: 2px;
}

#nav-menu {
    transition: display 0.3s ease-in-out;
}

@media (width < 800px) {
    .hamburger {
        display: block;
    }

    #nav-menu {
        display: none;
    }
}

@media (width < 800px) {
    header {
        position: sticky;
        top: 0;
        left: 0;
    }

    #nav-menu.responsive {
        display: block;
        z-index: 1;
        position: absolute;
        left: 0;
        top: 53px;

        & ul {
            display: block;
            background-color: var(--dark);

            & li {
                padding: 1rem 1rem;
                margin: 0;

                & a {
                    text-decoration: underline;
                }
            }
        }
    }
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

nav a {
    text-decoration: none;
    color: var(--bright);
    padding: 1rem 0.5rem;
}

nav a:hover {
    text-decoration: underline;
}

nav li {
    font-size: 1.2rem;
    letter-spacing: 1.5px;
}

nav li:has(+ li) {
    margin-right: 1.5rem;
}

button {
    border-radius: 0.5rem;
    font-size: 1.1rem;
    padding: 6px 16px;
    cursor: pointer;
}

.reachUs-button {
    background-color: transparent;
    color: var(--highlight);
    border: 2px solid var(--highlight);
    font-size: 1.2rem;
    margin-right: 0.5rem;
    transition: box-shadow 300ms;
}

.reachUs-button:hover {
    box-shadow: 0px 0px 8px var(--highlight);
}

.banner {
    text-align: center;
}

.banner h1 {
    margin-top: 0.5rem;
    font-size: 2rem;
}

@media (width <=800px) {
    .form-container {
        width: min(25rem, 80vw);
    }
}

@media (width > 800px) {
    .form-container {
        width: 50vw;
    }
}

.contact-form {
    margin-bottom: 2rem;
}

.form-container {
    margin: 0 auto;
    padding: 1rem;
    border-radius: 0.6rem;
    box-shadow: 0px 1px 4px var(--lighter-dark);
}

.form-container>h2 {
    margin-top: 0;
}

.form-container label,
input,
button {
    display: block;
}

.form-container label {
    font-size: 1.1rem;
    font-weight: bold;
}

.form-container input,
textarea {
    margin-bottom: 1rem;
    width: calc(100% - 0.5rem);
    padding: 0.25rem;
    border-radius: 0.35rem;
    border-width: 1px;
}

button[type="submit"] {
    color: var(--bright);
    background-color: var(--dark);
    border: 2px solid var(--dark);
    transition:
        box-shadow 0.3s,
        color 0.3s,
        border-color 0.3s;
}

button[type="submit"]:hover {
    box-shadow: 0px 0px 8px var(--highlight);
    color: var(--highlight);
    border-color: var(--highlight);
}

.contact-info,
footer {
    text-align: center;
}

.contact-info {
    margin-bottom: 2rem;
}

footer p {
    margin-bottom: 0;
}